<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    cacheDirectory=".phpunit.cache"
    failOnRisky="false"
    failOnWarning="false"
    stopOnError="false"
    stopOnFailure="false"
>
    <testsuites>
        <testsuite name="FolderFolio Tests">
            <directory suffix="Test.php">./tests/Integration</directory>
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>

    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="E_ALL"/>
    </php>
</phpunit>
